<mat-card *ngIf="tokenValid" class="card">
  <mat-card-header>
    <mat-card-title>Password Reset</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form >
      <table class="example-full-width" cellspacing="0">
       
        <tr>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="Repeat Password" [(ngModel)]="confirm" type="password" name="confirmPassword" required>
          </mat-form-field></td>
        </tr>
      </table>
     
    </form>
  </mat-card-content>
     <div *ngIf="isWrong">
            {{errorMessage}}
          </div>
  <mat-card-actions>
    <button mat-raised-button (click)="onSubmit()" color="accent">Submit</button>
  </mat-card-actions>
</mat-card>

<mat-card *ngIf="!tokenValid" class="card">
  <mat-card-header>
    <mat-card-title></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    The link is not valid.
  </mat-card-content>
  <div class="divButtons">
    <mat-card-actions id="btnSignup">
      <button mat-raised-button (click)="continue()" color="accent">Continue</button>
    </mat-card-actions>
  </div>
</mat-card>