.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  //background: black;
}

h1 {

  color: orangered;
  font-size: 34px;

}

img {
  padding-top: 10px;
  height: 48px;
}

.title {
  width: 100%;
}

.profile {
  float: right;
}