<mat-card *ngIf="!displayMessage" class="card">
  <mat-card-header>
    <mat-card-title>Password Help</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <table class="full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="full-width" color="accent">
              <input matInput placeholder="Email" [(ngModel)]="email" name="email" required>
            </mat-form-field>
          </td>
        </tr>
      </table>

    </form>
  </mat-card-content>
  <div *ngIf="isWrong">
    {{errorMessage}}
  </div>
  <div class="divButtons">
    <mat-card-actions id="btnLogin">
      <button mat-raised-button (click)="onSubmit()" color="accent">Submit</button>
    </mat-card-actions>
    <mat-card-actions id="btnSignup">
      <button mat-raised-button (click)="cancel()" color="accent">Return</button>
    </mat-card-actions>
  </div>
</mat-card>

<mat-card *ngIf="displayMessage" class="card">
  <mat-card-header>
    <mat-card-title></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    {{message}}
  </mat-card-content>
  <div class="divButtons">
    <mat-card-actions id="btnSignup">
      <button mat-raised-button (click)="continue()" color="accent">Continue</button>
    </mat-card-actions>
  </div>
</mat-card>