
mat-expansion-panel{
    width: 200px;
    border-radius: 0px !important;
}

.btn{
    cursor: pointer;
}

.sidenavcontainer {
    min-height: 1000px;
}

.mat-expansion-panel{
    margin-top: 0px;
    margin-bottom: 0px;
}